{% extends 'base.html' %}
{% load humanize %}
{% load static %}
{% block content %}

    <div class="contractor_content mb-5">
        <div class="container">
            <h3 class="h3 mt-2 mb-3">Состояние договоров на {{ today|date:"d.m.Y" }}</h3>
            <form method="GET" action="{% url 'contract_status:contract_status' %}" class="w-100">
                <input type="hidden" name="type_procurement_item" id="type_procurement_item"
                       value="{{ request.GET.type_procurement_item|default:'Товар' }}">
                <ul class="nav nav-pills nav-fill mb-5">
                    <li class="nav-item" role="presentation">
                        <button type="button" onclick="setTypeProcurementItem('Товар')"
                                class="btn btn-link {% if request.GET.type_procurement_item == 'Товар' or not request.GET.type_procurement_item %}active{% endif %} w-100">
                            Товар
                        </button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button type="button" onclick="setTypeProcurementItem('Работа')"
                                class="btn btn-link {% if request.GET.type_procurement_item == 'Работа' %}active{% endif %} w-100">
                            Работа
                        </button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button type="button" onclick="setTypeProcurementItem('Услуги')"
                                class="btn btn-link {% if request.GET.type_procurement_item == 'Услуги' %}active{% endif %} w-100">
                            Услуги
                        </button>
                    </li>
                </ul>
                <div class="row mb-3 pt-4 pb-4 bg-dark-subtle row-gap-3 ms-0 me-0">
                    <div class="col-3">
                        <label>Поиск по краткому содержанию</label>
                        <input type="text" name="short_description__icontains" class="form-control"
                               placeholder="Поиск по краткому содержанию"
                               value="{{ request.GET.short_description__icontains }}">
                    </div>
                    <div class="col-3">
                        <label>Поиск по контрагентам</label>
                        <input type="text" name="contractor__icontains" class="form-control"
                               placeholder="Поиск по контрагентам" value="{{ request.GET.contractor__icontains }}">
                    </div>
                    <div class="col-3">
                        <label>Поиск по договорам</label>
                        <input type="text" name="contract_name__icontains" class="form-control"
                               placeholder="Поиск по договорам" value="{{ request.GET.contract_name__icontains }}">
                    </div>
                    <div class="col-3">
                        <label>Поиск по сумме</label>
                        <div class="row">
                            <div class="col">
                                <input type="number" name="contract_sum__gte" class="form-control" placeholder="От"
                                       value="{{ request.GET.contract_sum__gte }}">
                            </div>
                            <div class="col">
                                <input type="number" name="contract_sum__lte" class="form-control" placeholder="До"
                                       value="{{ request.GET.contract_sum__lte }}">
                            </div>
                        </div>
                    </div>
                    <div class="col-3">
                        <label>Поиск по дате регистрации</label>
                        <div class="row">
                            <div class="col">
                                <input type="date" name="registration_date__gte" class="form-control" placeholder="От"
                                       value="{{ request.GET.registration_date__gte }}">
                            </div>
                            <div class="col">
                                <input type="date" name="registration_date__lte" class="form-control" placeholder="До"
                                       value="{{ request.GET.registration_date__lte }}" max="{{ today|date:'Y-m-d' }}">
                            </div>
                        </div>
                    </div>
                    {% if request.GET.type_procurement_item == 'Товар' or not request.GET.type_procurement_item %}
                        <div class="col-3">
                            <label>Поиск по дате поступления</label>
                            <div class="row">
                                <div class="col">
                                    <input type="date" name="date_receipt__gte" class="form-control" placeholder="От"
                                           value="{{ request.GET.date_receipt__gte }}">
                                </div>
                                <div class="col">
                                    <input type="date" name="date_receipt__lte" class="form-control" placeholder="До"
                                           value="{{ request.GET.date_receipt__lte }}" max="{{ today|date:'Y-m-d' }}">
                                </div>
                            </div>
                        </div>
                    {% endif %}
                    <div class="col-3">
                        <label>Поиск по крайнему сроку поставки</label>
                        <div class="row">
                            <div class="col">
                                <input type="date" name="delivery_deadline__gte" class="form-control" placeholder="От"
                                       value="{{ request.GET.delivery_deadline__gte }}">
                            </div>
                            <div class="col">
                                <input type="date" name="delivery_deadline__lte" class="form-control" placeholder="До"
                                       value="{{ request.GET.delivery_deadline__lte }}" max="{{ today|date:'Y-m-d' }}">
                            </div>
                        </div>
                    </div>
                    <div class="col-3">
                        <label>Поиск по признаку оплаты</label>
                        <select class="form-control form-select" name="payment_indicator__icontains">
                            <option value="" style="font-style: italic;"
                                    {% if request.GET.payment_indicator__icontains == "" %}selected{% endif %}>
                                <em>Выберите признак оплаты</em>
                            </option>
                            <option value="База"
                                    {% if request.GET.payment_indicator__icontains == "База" %}selected{% endif %}>
                                База
                            </option>
                            <option value="В распоряжении"
                                    {% if request.GET.payment_indicator__icontains == "В распоряжении" %}selected{% endif %}>
                                В распоряжении
                            </option>
                            <option value="Включена в реестр"
                                    {% if request.GET.payment_indicator__icontains == "Включена в реестр" %}selected{% endif %}>
                                Включена в реестр
                            </option>
                            <option value="Исполнен(а,о)"
                                    {% if request.GET.payment_indicator__icontains == "Исполнен(а,о)" %}selected{% endif %}>
                                Исполнен(а,о)
                            </option>
                            <option value="Оплачен(а)"
                                    {% if request.GET.payment_indicator__icontains == "Оплачен(а)" %}selected{% endif %}>
                                Оплачен(а)
                            </option>
                            <option value="Отклонена"
                                    {% if request.GET.payment_indicator__icontains == "Отклонена" %}selected{% endif %}>
                                Отклонена
                            </option>
                            <option value="Отправлено в банк"
                                    {% if request.GET.payment_indicator__icontains == "Отправлено в банк" %}selected{% endif %}>
                                Отправлено в банк
                            </option>
                            <option value="Передана"
                                    {% if request.GET.payment_indicator__icontains == "Передана" %}selected{% endif %}>
                                Передана
                            </option>
                            <option value="Принята"
                                    {% if request.GET.payment_indicator__icontains == "Принята" %}selected{% endif %}>
                                Принята
                            </option>
                            <option value="Утвержден(о)"
                                    {% if request.GET.payment_indicator__icontains == "Утвержден(о)" %}selected{% endif %}>
                                Утвержден(о)
                            </option>
                            <option value="Формируемый(ая, ое)"
                                    {% if request.GET.payment_indicator__icontains == "Формируемый(ая, ое)" %}selected{% endif %}>
                                Формируемый(ая, ое)
                            </option>
                        </select>
                    </div>
                    <div class="col-3">
                        <label>Поиск по курирующим службам</label>
                        <input type="text" name="supervising_service__icontains" class="form-control"
                               placeholder="Поиск по курирующим службам"
                               value="{{ request.GET.supervising_service__icontains }}">
                    </div>
                    <div class="col-3">
                        <label>Поиск по ответственным по договорам</label>
                        <input type="text" name="responsible__icontains" class="form-control"
                               placeholder="Поиск по ответственным по договорам"
                               value="{{ request.GET.responsible__icontains }}">
                    </div>
                    <div class="col-3">
                        <label>Поиск по статусу договора</label>
                        <input type="text" name="contract_status__icontains" class="form-control"
                               placeholder="Поиск по статусу договора"
                               value="{{ request.GET.contract_status__icontains }}">
                    </div>
                    {% if request.GET.type_procurement_item == 'Товар' or not request.GET.type_procurement_item %}
                        <div class="col-3">
                            <label>Поиск по складу поступления </label>
                            <input type="text" name="receipt_warehouse__icontains" class="form-control"
                                   placeholder="Поиск по складу поступления "
                                   value="{{ request.GET.receipt_warehouse__icontains }}">
                        </div>
                        <div class="col-3">
                            <label>Поиск по ответственным склада</label>
                            <input type="text" name="responsible_warehouse__icontains" class="form-control"
                                   placeholder="Поиск по ответственным склада"
                                   value="{{ request.GET.responsible_warehouse__icontains }}">
                        </div>
                    {% endif %}
                    <div class="w-100 mt-2">
                        <button type="submit" class="btn btn-primary me-3">Поиск</button>
                        <a href="{% url 'contract_status:contract_status' %}#nofilter"
                           class="btn btn-primary text-white">Сбросить</a>
                        {#                        <button type="button" id="downloadReportButton" class="btn btn-success text-white ms-3">Скачать#}
                        {#                            отчет#}
                        {#                        </button>#}
                    </div>
                </div>
            </form>


            {% if main_sklads %}
                <div class="h5">
                    <p>Количество записей: <b>{{ main_sklads_count }}</b></p>
                    <p>Общая сумма: <b>{{ main_sklads_sum.contract_sum|intcomma }} тг</b></p>
                </div>
                <table class="table-bordered" id="productsTable">
                    <thead>
                    <tr>
                        <th>Краткое содержание</th>
                        <th>Контрагент</th>
                        <th>Договор</th>
                        <th>Дата регистрации</th>
                        <th>Сумма по договору</th>
                        <th>Крайний срок поставки</th>
                        {% if request.GET.type_procurement_item == 'Товар' or not request.GET.type_procurement_item %}
                            <th>Дата поступления</th>
                        {% endif %}
                        <th>Признак оплаты</th>
                        <th>Курирующая служба</th>
                        <th>Ответственный по договору</th>
                        <th>Статус договора</th>
                        {% if request.GET.type_procurement_item == 'Товар' or not request.GET.type_procurement_item %}
                            <th>Склад поступления</th>
                            <th>Ответственный склада</th>
                        {% endif %}
                    </tr>
                    </thead>
                    <tbody>
                    {% for main_sklad in main_sklads %}
                        <tr>
                            <td class="td_item_number">{{ main_sklad.short_description }}</td>
                            <td class="td_name" style="max-width: 200px">{{ main_sklad.contractor }}</td>
                            <td class="td_unit">{{ main_sklad.contract_name }}</td>
                            <td class="td_date_receipt">{{ main_sklad.registration_date|date:"d.m.Y" }}</td>
                            <td class="td_quantity">{{ main_sklad.contract_sum|default_if_none:""|intcomma }}</td>
                            <td class="td_date_receipt">{{ main_sklad.delivery_deadline|date:"d.m.Y" }}</td>
                            {% if request.GET.type_procurement_item == 'Товар' or not request.GET.type_procurement_item %}
                                <td class="td_date_receipt">{{ main_sklad.date_receipt|date:"d.m.Y" }}</td>
                            {% endif %}
                            <td class="td_price">{{ main_sklad.payment_indicator }}</td>
                            <td class="td_sum">{{ main_sklad.supervising_service }}</td>
                            <td class="td_number_sklad">{{ main_sklad.responsible }}</td>
                            <td class="td_responsible">{{ main_sklad.contract_status }}</td>
                            {% if request.GET.type_procurement_item == 'Товар' or not request.GET.type_procurement_item %}
                                <td class="td_contractor">{{ main_sklad.receipt_warehouse }}</td>
                                <td class="td_agreement">{{ main_sklad.responsible_warehouse }}</td>
                            {% endif %}

                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <div>
                    <h3 class="h3">Ничего не найдено</h3>
                </div>
            {% endif %}
            <nav aria-label="Page navigation example">
                <ul class="pagination mt-4">
                    <li class="step-links">
                        {% if main_sklads.has_previous %}
                            <li class="page-item"><a class="page-link"
                                                     href="?page=1{% if search_querydict %}&{{ search_querydict }}{% endif %}"
                                                     aria-label="Previous"><span
                                    aria-hidden="true">&laquo;</span></a></li>
                            <li class="page-item"><a class="page-link"
                                                     href="?page=



                                                             {{ main_sklads.previous_page_number }}{% if search_querydict %}&{{ search_querydict }}{% endif %}">&#8249;</a>
                            </li>
                        {% endif %}
                    </li>

                    {% for page_num in main_sklads.paginator.page_range %}
                        {% if page_num >= main_sklads.number|add:"-2" and page_num <= main_sklads.number|add:"2" %}
                            <li class="page-item {% if page_num == main_sklads.number %}active{% endif %}">
                                <a class="page-link" href="?page=



                                        {{ page_num }}{% if search_querydict %}&{{ search_querydict }}{% endif %}">{{ page_num }}</a>
                            </li>
                        {% endif %}
                    {% endfor %}

                    {% if main_sklads.has_next %}
                        <li class="page-item"><a class="page-link" href="?page=



                                {{ main_sklads.next_page_number }}{% if search_querydict %}&{{ search_querydict }}{% endif %}">&#8250;</a>
                        </li>
                        <li class="page-item"><a class="page-link"
                                                 href="?page=



                                                         {{ main_sklads.paginator.num_pages }}{% if search_querydict %}&{{ search_querydict }}{% endif %}"><span
                                aria-hidden="true">&raquo;</span>
                        </a></li>
                    {% endif %}
                </ul>
            </nav>
        </div>
    </div>
    <script src="{% static 'journal/vendor/jquery/jquery-2.2.4.min.js' %}"></script>
    <script>
        function setTypeProcurementItem(value) {
            document.getElementById('type_procurement_item').value = value;
            document.forms[0].submit(); // Отправка формы
        }

        document.getElementById('downloadReportButton').addEventListener('click', function () {
            // Collect form data
            const formData = new FormData(document.querySelector('form'));
            const searchParams = new URLSearchParams();

            for (const [key, value] of formData.entries()) {
                if (value) {
                    searchParams.append(key, value);
                }
            }

            // URL of the endpoint
            const url = `{% url 'sklad:main_sklad_report' %}?${searchParams.toString()}`;

            // Sending the request using fetch
            fetch(url, {
                method: 'GET',
                headers: {
                    'Content-Type': 'application/json'
                }
            })
                .then(response => response.blob())
                .then(blob => {
                    // Create a link element to trigger the download
                    const date = new Date();
                    const year = date.getFullYear();
                    const month = String(date.getMonth() + 1).padStart(2, '0');
                    const day = String(date.getDate()).padStart(2, '0');
                    const currentDate = `${year}-${month}-${day}`;

                    // Create a link element to trigger the download
                    const link = document.createElement('a');
                    link.href = window.URL.createObjectURL(blob);
                    link.download = `report_sklad_${currentDate}.xlsx`; // Filename with current date
                    link.click();
                })
                .catch(error => {
                    console.error('Error:', error);
                });
        });
    </script>


{% endblock %}