{% extends 'base.html' %}
{% load static %}
{% block title %}Главная{% endblock %}

{% block content %}
<div class="main-blocks">
    <div class="container">
        <div class="mb-5 mt-4">
            <h2 class="h2 text-center">СКЛАД TOO "МАЭК"</h2>
        </div>
        <div class="row">
            <div class="col-xl-4 col-lg-4 col-md-6 col-sm main-block mb-3">
                <a href="" class="main_link">
                    <div class="text-center border border-1 rounded p-3 main_block__block">
{#                        <img src="{% static 'img/home/security.png' %}" alt="мощность" class="w-25 object-fit-contain" />#}
                        <p class="h5 mt-2">Ожидаемые поставки</p>
                    </div>
                </a>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-6 col-sm main-block">
                <a href="" class="main_link">
                    <div class="text-center border border-1 rounded p-3 main_block__block">
{#                        <img src="{% static 'img/home/data-structure.png' %}"  alt="Схемы" class="w-25 object-fit-contain"/>#}
                        <p class="h5 mt-2">Товары на пункте приемки</p>
                    </div>
                </a>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-6 col-sm main-block">
                <a href="{% url 'sklad:main_sklad' %}" class="main_link">
                    <div class="text-center border border-1 rounded p-3 main_block__block">
{#                        <img src="{% static 'img/home/data-structure.png' %}"  alt="Схемы" class="w-25 object-fit-contain"/>#}
                        <p class="h5 mt-2">Товары на центральном складе</p>
                    </div>
                </a>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-6 col-sm main-block">
                <a href=""  class="main_link">
                    <div class="text-center border border-1 rounded p-3 main_block__block">
{#                        <img src="{% static 'img/home/data-structure.png' %}"  alt="Схемы" class="w-25 object-fit-contain"/>#}
                        <p class="h5 mt-2">Перемещенные товарые</p>
                    </div>
                </a>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-6 col-sm main-block">
                <a href=""  class="main_link">
                    <div class="text-center border border-1 rounded p-3 main_block__block">
{#                        <img src="{% static 'img/home/data-structure.png' %}"  alt="Схемы" class="w-25 object-fit-contain"/>#}
                        <p class="h5 mt-2">Списанные товары</p>
                    </div>
                </a>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-6 col-sm main-block">
                <a href="" class="main_link">
                    <div class="text-center border border-1 rounded p-3 main_block__block">
{#                        <img src="{% static 'img/home/data-structure.png' %}"  alt="Схемы" class="w-25 object-fit-contain"/>#}
                        <p class="h5 mt-2">Товары на реализацию</p>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>
{% endblock %}