{% extends 'base.html' %}
{% load humanize %}
{% load static %}
{% block title %}Приборы{% endblock %}
{% block content %}
    <div class="contractor_content mb-5">
        <div class="container">
            <h3 class="h3 mt-2 mb-3">Приборы по состоянию на {{ today|date:"d.m.Y" }}</h3>
            <form method="GET" action="{% url 'devices:devices_page' %}" class="w-100">
                <div class="row mb-3 pt-4 pb-4 bg-dark-subtle row-gap-3 ms-0 me-0">
                    <div class="col-3">
                        <label>Поиск по наименованию</label>
                        <input type="text" name="name__icontains" class="form-control"
                               placeholder="Поиск по наименованию" value="{{ request.GET.name__icontains }}">
                    </div>
                    <div class="col-3">
                        <label>Поиск по подразделению</label>
                        <input type="text" name="subdivision__icontains" class="form-control"
                               placeholder="Поиск по подразделению" value="{{ request.GET.subdivision__icontains }}">
                    </div>
                    <div class="col-3">
                        <label>Поиск по заводскому номеру</label>
                        <input type="text" name="factory_number__icontains" class="form-control"
                               placeholder="Поиск по заводскому номеру"
                               value="{{ request.GET.factory_number__icontains }}">
                    </div>
                    <div class="col-3">
                        <label>Поиск по датчикам</label>
                        <input type="text" name="sensor__icontains" class="form-control"
                               placeholder="Поиск по датчикам" value="{{ request.GET.sensor__icontains }}">
                    </div>
                    <div class="col-3">
                        <label>Поиск по количеству</label>
                        <div class="row">
                            <div class="col">
                                <input type="number" name="quantity__gte" class="form-control" placeholder="От"
                                       value="{{ request.GET.quantity__gte }}">
                            </div>
                            <div class="col">
                                <input type="number" name="quantity__lte" class="form-control" placeholder="До"
                                       value="{{ request.GET.quantity__lte }}">
                            </div>
                        </div>
                    </div>
                    <div class="col-3">
                        <label>Поиск по дате выпуска</label>
                        <div class="row">
                            <div class="col">
                                <input type="date" name="date_issued__gte" class="form-control" placeholder="От"
                                       value="{{ request.GET.date_issued__gte }}">
                            </div>
                            <div class="col">
                                <input type="date" name="date_issued__lte" class="form-control" placeholder="До"
                                       value="{{ request.GET.date_issued__lte }}" max="{{ today|date:'Y-m-d' }}">
                            </div>
                        </div>
                    </div>
                    <div class="col-3">
                        <label>Поиск по дате ввода</label>
                        <div class="row">
                            <div class="col">
                                <input type="date" name="date_entry__gte" class="form-control" placeholder="От"
                                       value="{{ request.GET.date_entry__gte }}">
                            </div>
                            <div class="col">
                                <input type="date" name="date_entry__lte" class="form-control" placeholder="До"
                                       value="{{ request.GET.date_entry__lte }}" max="{{ today|date:'Y-m-d' }}">
                            </div>
                        </div>
                    </div>
                    <div class="col-3">
                        <label>Поиск по дате поверки</label>
                        <div class="row">
                            <div class="col">
                                <input type="date" name="date_verification__gte" class="form-control" placeholder="От"
                                       value="{{ request.GET.date_verification__gte }}">
                            </div>
                            <div class="col">
                                <input type="date" name="date_verification__lte" class="form-control" placeholder="До"
                                       value="{{ request.GET.date_verification__lte }}" max="{{ today|date:'Y-m-d' }}">
                            </div>
                        </div>
                    </div>
                    <div class="col-3">
                        <label>Поиск по результату ремонта</label>
                        <input type="text" name="repair_result__icontains" class="form-control"
                               placeholder="Поиск по результату ремонта"
                               value="{{ request.GET.repair_result__icontains }}">
                    </div>
                    <div class="col-3">
                        <label>Поиск по дате следующей поверки</label>
                        <div class="row">
                            <div class="col">
                                <input type="date" name="date_next_verification__gte" class="form-control"
                                       placeholder="От"
                                       value="{{ request.GET.date_next_verification__gte }}">
                            </div>
                            <div class="col">
                                <input type="date" name="date_next_verification__lte" class="form-control"
                                       placeholder="До"
                                       value="{{ request.GET.date_next_verification__lte }}"
                                       max="{{ today|date:'Y-m-d' }}">
                            </div>
                        </div>
                    </div>
                    <div class="col-3">
                        <label>Поиск по состоянию</label>
                        <input type="text" name="state__icontains" class="form-control"
                               placeholder="Поиск по состоянию" value="{{ request.GET.state__icontains }}">
                    </div>
                    <div class="w-100 mt-2">
                        <button type="submit" class="btn btn-primary me-3">Поиск</button>
                        <a href="{% url 'devices:devices_page' %}#nofilter"
                           class="btn btn-primary text-white">Сбросить</a>
                        {#                        <button type="button" id="downloadReportButton" class="btn btn-success text-white ms-3">Скачать#}
                        {#                            отчет#}
                        {#                        </button>#}
                    </div>
                </div>
            </form>


            {% if devices %}
                <div class="h5">
                    <p>Количество записей: <b>{{ devices_count|intcomma }}</b></p>
                    <p>Количество приборов: <b>{{ devices_quantity_count.quantity|intcomma }}</b></p>
                </div>
                <table class="table-bordered border-dark" id="products_table">
                    <thead>
                    <tr>
                        <th>Наименование</th>
                        <th>Подразделение</th>
                        <th>Заводской Номер</th>
                        <th>Датчик</th>
                        <th>Количество</th>
                        <th>Дата Выпуска</th>
                        <th>Дата Ввода</th>
                        <th>Дата Поверки</th>
                        <th>Результат Ремонта</th>
                        <th>Дата Следующей Поверки</th>
                        <th>Состояние</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for device in devices %}
                        <tr class="device_tr">
                            <td class="td_name" style="max-width: 200px">{{ device.name }}</td>
                            <td class="td_subdivision">{{ device.subdivision }}</td>
                            <td class="td_factory_number">{{ device.factory_number }}</td>
                            <td class="td_sensor">{{ device.sensor }}</td>
                            <td class="td_quantity">{{ device.quantity }}</td>
                            <td class="td_date_issued">{{ device.date_issued|date:"d.m.Y" }}</td>
                            <td class="td_date_entry">{{ device.date_entry|date:"d.m.Y" }}</td>
                            <td class="td_date_verification">{{ device.date_verification|date:"d.m.Y" }}</td>
                            <td class="td_repair_result">{{ device.repair_result }}</td>
                            <td class="td_date_next_verification">{{ device.date_next_verification|date:"d.m.Y" }}</td>
                            <td class="td_state">{{ device.state|default_if_none:"" }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <div>
                    <h3 class="h3">Ничего не найдено</h3>
                </div>
            {% endif %}
            <nav aria-label="Page navigation example">
                <ul class="pagination mt-4">
                    <li class="step-links">
                        {% if devices.has_previous %}
                            <li class="page-item"><a class="page-link"
                                                     href="?page=1{% if search_querydict %}&{{ search_querydict }}{% endif %}"
                                                     aria-label="Previous"><span
                                    aria-hidden="true">&laquo;</span></a></li>
                            <li class="page-item"><a class="page-link"
                                                     href="?page=
                                                             {{ devices.previous_page_number }}{% if search_querydict %}&{{ search_querydict }}{% endif %}">&#8249;</a>
                            </li>
                        {% endif %}
                    </li>

                    {% for page_num in devices.paginator.page_range %}
                        {% if page_num >= devices.number|add:"-2" and page_num <= devices.number|add:"2" %}
                            <li class="page-item {% if page_num == devices.number %}active{% endif %}">
                                <a class="page-link" href="?page=
                                        {{ page_num }}{% if search_querydict %}&{{ search_querydict }}{% endif %}">{{ page_num }}</a>
                            </li>
                        {% endif %}
                    {% endfor %}

                    {% if devices.has_next %}
                        <li class="page-item"><a class="page-link" href="?page=
                                {{ devices.next_page_number }}{% if search_querydict %}&{{ search_querydict }}{% endif %}">&#8250;</a>
                        </li>
                        <li class="page-item"><a class="page-link"
                                                 href="?page=
                                                         {{ devices.paginator.num_pages }}{% if search_querydict %}&{{ search_querydict }}{% endif %}"><span
                                aria-hidden="true">&raquo;</span>
                        </a></li>
                    {% endif %}
                </ul>
            </nav>
        </div>
    </div>
    <script src="{% static 'journal/vendor/jquery/jquery-2.2.4.min.js' %}"></script>

    <script>
        let productsTable = document.getElementById('products_table');
        if (productsTable) {
            let deviceTr = document.querySelectorAll('.device_tr');
            deviceTr.forEach(tr => {
                let repairResult = tr.querySelector('.td_repair_result');
                let dateNextVer = tr.querySelector('.td_date_next_verification');
                let state = tr.querySelector('.td_state');
                let dateValue = new Date(dateNextVer.textContent.trim());
                let todayDate = new Date();

                if (repairResult && (repairResult.textContent.trim() === "Годен" || repairResult.textContent.trim() === "") && (dateValue <= todayDate) && (state.textContent.trim() === "В подразделении")) {
                    repairResult.classList.add('bg-warning');
                    tr.classList.add('bg-warning');
                }
            });
        }

    </script>


{% endblock %}