{% extends 'base.html' %}
{% load humanize %}
{% load static %}
{% block content %}

    <div class="contractor_content mb-5">
        <div class="container">
            <form method="GET" action="{% url 'sklad:main_sklad' %}"
                  class="w-100">
                <div class="row mb-3 pt-4 pb-4 bg-dark-subtle row-gap-3 ms-0 me-0">
                    <div class="col-3">
                        <label>Поиск по номенклатуре</label>
                        <input type="text" name="item_number" class="form-control" placeholder="Поиск по номенклатуре"
                               value="{{ request.GET.item_number }}">
                    </div>
                    <div class="col-3">
                        <label>Поиск по наименованию</label>
                        <input type="text" name="name" class="form-control" placeholder="Поиск по наименованию"
                               value="{{ request.GET.name }}">
                    </div>
                    <div class="col-3">
                        <label>Поиск по номеру складу</label>
                        <input type="text" name="number_sklad" class="form-control" placeholder="Поиск по номеру складу"
                               value="{{ request.GET.number_sklad }}">
                    </div>
                    <div class="col-3">
                        <label>Поиск по подразделению</label>
                        <input type="text" name="responsible" class="form-control" placeholder="Поиск по подразделению"
                               value="{{ request.GET.responsible }}">
                    </div>
                    <div class="col-3">
                        <label>Поиск по цене</label>
                        <div class="row">
                            <div class="col">
                                <input type="number" name="price__gte" class="form-control" placeholder="От"
                                       value="{{ request.GET.price__gte }}">
                            </div>
                            <div class="col">
                                <input type="number" name="price__lte" class="form-control" placeholder="До"
                                       value="{{ request.GET.price__lte }}">
                            </div>
                        </div>
                    </div>

                    <div class="col-3">
                        <label>Поиск по сумме</label>
                        <div class="row">
                            <div class="col">
                                <input type="number" name="sum__gte" class="form-control" placeholder="От"
                                       value="{{ request.GET.sum__gte }}">
                            </div>
                            <div class="col">
                                <input type="number" name="sum__lte" class="form-control" placeholder="До"
                                       value="{{ request.GET.sum__lte }}">
                            </div>
                        </div>
                    </div>
                    <div class="col-3">
                        <label>Поиск по дате поступления</label>
                        <div class="row">
                            <div class="col">
                                <input type="date" name="date_receipt__gte" class="form-control" placeholder="От"
                                       value="{{ request.GET.date_receipt__gte }}">
                            </div>
                            <div class="col">
                                <input type="date" name="date_receipt__lte" class="form-control" placeholder="До"
                                       value="{{ request.GET.date_receipt__lte }}">
                            </div>
                        </div>
                    </div>
                    <div class="col-3">
                        <label>Поиск по контрагентам</label>
                        <input type="text" name="contractor" class="form-control" placeholder="Поиск по контрагентам"
                               value="{{ request.GET.contractor }}">
                    </div>
                    <div class="w-100 mt-2">
                        <button type="submit" class="btn btn-primary">Поиск</button>
                    </div>
                </div>
            </form>

            {% if main_sklads %}
            <table class="table-bordered" id="productsTable">
                <thead>
                <tr>
                    <th>Номенклатурный номер</th>
                    <th>Наименование</th>
                    <th>Единица измерения</th>
                    <th>Количество</th>
                    <th>Цена</th>
                    <th>Сумма</th>
                    <th>Дата поступления</th>
                    <th> № склада</th>
                    <th>Ответственный</th>
                    <th>Контрагент</th>
                    <th>Договор</th>
                </tr>
                </thead>
                <tbody>
                {% for main_sklad in main_sklads %}
                    <tr>
                        <td class="td_item_number">{{ main_sklad.item_number }}</td>
                        <td class="td_name" style="max-width: 200px">{{ main_sklad.name }}</td>
                        <td class="td_unit">{{ main_sklad.unit }}</td>
                        <td class="td_quantity">{{ main_sklad.quantity|default_if_none:""|intcomma }}</td>
                        <td class="td_price">{{ main_sklad.price|default_if_none:""|intcomma }}</td>
                        <td class="td_sum">{{ main_sklad.sum|default_if_none:""|intcomma }}</td>
                        <td class="td_date_receipt">{{ main_sklad.date_receipt|date:"d.m.Y" }}</td>
                        <td class="td_number_sklad">{{ main_sklad.number_sklad }}</td>
                        <td class="td_responsible">{{ main_sklad.responsible }}</td>
                        <td class="td_contractor">{{ main_sklad.contractor|default_if_none:"" }}</td>
                        <td class="td_agreement">{{ main_sklad.agreement|default_if_none:"" }}</td>

                    </tr>
                {% endfor %}
                </tbody>
            </table>
                {% else %}
            <div>
                <h3 class="h3">Ничего не найдено</h3>
            </div>
            {% endif %}
            <nav aria-label="Page navigation example">
                <ul class="pagination mt-4">
                    <li class="step-links">
                        {% if main_sklads.has_previous %}
                            <li class="page-item"><a class="page-link" href="?page=1" aria-label="Previous"><span
                                    aria-hidden="true">&laquo;</span></a></li>
                            <li class="page-item"><a class="page-link"
                                                     href="?page={{ main_sklads.previous_page_number }}">&#8249;</a>
                            </li>
                        {% endif %}
                    </li>

                    {% for page_num in main_sklads.paginator.page_range %}
                        {% if page_num >= main_sklads.number|add:"-2" and page_num <= main_sklads.number|add:"2" %}
                            <li class="page-item {% if page_num == main_sklads.number %}active{% endif %}">
                                <a class="page-link" href="?page={{ page_num }}">{{ page_num }}</a>
                            </li>
                        {% endif %}
                    {% endfor %}

                    {% if main_sklads.has_next %}
                        <li class="page-item"><a class="page-link" href="?page={{ main_sklads.next_page_number }}">&#8250;</a>
                        </li>
                        <li class="page-item"><a class="page-link"
                                                 href="?page={{ main_sklads.paginator.num_pages }}"><span
                                aria-hidden="true">&raquo;</span>
                        </a></li>
                    {% endif %}
                </ul>
            </nav>
        </div>

        <script src="{% static 'journal/vendor/jquery/jquery-2.2.4.min.js' %}"></script>
        <script>
            $(document).ready(function () {
                $("#searchInput").on("input", function () {
                    var searchText = $(this).val().toLowerCase();
                    $("#productsTable tbody tr").filter(function () {
                        $(this).toggle($(this).text().toLowerCase().indexOf(searchText) > -1);
                    });
                });
            });
        </script>

{% endblock %}